@model batteryfilms.MVC.Models.EditClipModel

@{
    ViewBag.Title = "EditClip: " + @Model.clip.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit: @Model.clip.Title</h1>
@using (Html.BeginForm("EditClip", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.EditorForModel();
    <!--COMMON DATA-->
    <!--Html.RenderPartial("~/Views/Shared/EditClip/EditClip_EditForm.cshtml", Model.clip);-->
    <div class="editor-field">@Html.Editor("clip.Id", Model.clip.Id)</div>

    <div class="editor-label">Title</div>
    <div class="editor-field">@Html.Editor("clip.Title", Model.clip.Title)</div>
    
    <div class="editor-label">Description</div>
    <div class="editor-field">@Html.Editor("clip.Description", Model.clip.Description)</div>
    
    <div class="editor-label">Url</div>
    <div class="editor-field">@Html.Editor("clip.Url", Model.clip.Url)</div>
        

    <!--CATEGORIES-->
    <!--Html.RenderPartial("~/Views/Shared/EditClip/EditClip_EditCategories.cshtml", Model.AllCategories);-->
    <div class="editor-label">Categories</div>
    
     <table>
    @for (int i = 0; i < Model.AllCategories.Count();i++ )
    {
        <tr>
            @if (Model.clip.Categories.FirstOrDefault(item=>item.Title==Model.AllCategories[i].Text)!=null)
            {
                <td><input checked="checked" id="AllCategories" name="AllCategories" type="checkbox" value="true" /></td>
                <td>@Html.Label(Model.AllCategories[i].Text)</td>
            }
            else
            {
                <td><input id="AllCategories" name="AllCategories" type="checkbox" value="true" /></td>
                <td>@Html.Label(Model.AllCategories[i].Text)</td>
            }
            
         </tr>
    }
    </table>
        

    <!--IMAGE-->
    <div class="editor-label">Image</div>
    <div class="editor-field">
    @if (Model.clip.ImageData == null)
    {
        @:None
    }
    else
    {
        <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.clip.Id})" />
    }
        <div>
            Upload new image:
            <input type="file" name="Image" />
        </div>
    </div>


    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "ClipEditor")
}