@model batteryfilms.MVC.Models.EditClipModel

@{
    ViewBag.Title = "EditClip: " + @Model.clip.Title;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit: @Model.clip.Title</h1>
@using (Html.BeginForm("EditClip", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    Html.RenderPartial("EditClip_EditForm", Model.clip);
    <div class="editor-label">Clip's Categories</div>
    
    @Html.ListBox("ClipCategories", Model.AllCategories);

    <table>
        @foreach (var item in Model.AllCategories)
        {
            <tr>
                <td>@Html.HiddenFor(model => item.Value)</td>
                <td>@Html.CheckBoxFor(model => item.Selected)</td>
                <td>@Html.DisplayFor(model => item.Text)</td>
            </tr>
        }
    </table>


    <div class="editor-label">Image</div>
    <div class="editor-field">
    @if (Model.clip.ImageData == null)
    {
        @:None
    }
    else
    {
        <img width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.clip.Id})" />
    }
        <div>
            Upload new image:
            <input type="file" name="Image" />
        </div>
    </div>  

  <input type="submit" value="Save" />
  @Html.ActionLink("Cancel and return to List", "ClipEditor")
}